.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1f8bfd;
}

.home-card {
  background-color: #ffffff;
  width: 350px;
  height: 350px;
  border-radius: 9px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-details {
  padding: 30px;

}

.card-title {
  margin-top: 22px;
  font-size: 26px;
  padding-bottom: 10px;
  margin-right: 7rem;
  padding-top: 15px;
}

._line {
  width: 100%;
  height: 1.5px;
  background-color: #b6b3b3;
  margin: 0px;
}

.form-control {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem !important;
  font-size: 1.25rem !important;
  font-weight: 400 !important;
  background-color: #b4b4b4;
}

.form-control input {
  margin-bottom: 1.75rem !important;
}

.form-group .or-divider {
  position: relative;
  text-align: center;
  margin: 20px 0;
  color: #b6b3b3;
  ;
}

.form-group .or-divider::before,
.form-group .or-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background-color: #b6b3b3;
}

.form-group .or-divider::before {
  left: 0;
}

.form-group .or-divider::after {
  right: 0;
}